.actions{
    display: flex;
    justify-content: flex-start + space-evenly;
    gap: 10px;
    font-size: large;
}
.del-btn{
    color: red;
}

.edit-btn{
    color: rgb(16, 61, 78);
}
.lock-btn{
    color: rgb(8, 221, 8);
}
.active-button{
    background-color: #dd4545; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 30px;
    cursor:default;
}